<?php $usps = $this->getUsps();?>
<?php if(count($usps) > 0): ?>
	<ul class="product-usps">
		<?php foreach ($usps as $usp): ?>
			<li class="<?php echo strtolower(str_replace(' ','-',preg_replace('/&.*?;/','',$usp['name']))) ?>">
				<?php if(isset($usp['image'])): ?>
					<img src="/media/ufhs/usp/<?php echo $usp['image'];?>" style="width: 18px;margin-right: 6px;"/>
				<?php else: ?>
					<span data-icon="I"></span>
				<?php endif; ?>
				<span><?php echo $usp['name']; ?></span>
			</li>
		<?php endforeach; ?>
	</ul>
<?php endif; ?>