<?php $selected = $this->getSelectedList(); ?>
<?php $attributes = $this->getAttributes(); ?>
<div class="box-customer">
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-account">USPs</h4>
		</div>
		<div class="fieldset">
			<?php foreach ($attributes as $group => $attribute): ?>
			<table cellspacing="0" class="form-list">
				<thead>
					<tr>
						<th colspan="2"><?php echo $group; ?></th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($attribute as $id => $value): ?>
					<tr>
						<td class="label">
							<label><?php echo $value; ?></label>
						</td>
						<td class="value">
							<input type="checkbox" name="usp[<?php echo $id; ?>]" <?php echo in_array($id, $selected) ? 'checked="checked"' : '';?>/>
						</td>
					</tr>
				<?php endforeach; ?>
				</tbody>
			</table>
		<?php endforeach; ?>
		</div>
	</div>
</div>